h1 {
    font-family:sans-serif
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    color:rgb(48, 48, 48) !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) !important;
}