h1 .my-h1 {
    text-align: center !important;
    font-family: sans-serif !important;
    font-size: 100px !important;
    font-weight: 800 !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) !important;
}

h2 .my-h2 {
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    color:rgb(48, 48, 48) !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) !important;
}

body .my-body {
    background-color: antiquewhite;
}